{% extends '::base.html.twig' %}

{% block body %}

    <h1>GUPEK</h1>

    {% if meetings is not empty %}
        <h2>Upcoming meetings</h2>
        {% for meeting in meetings %}
            <a href="{{ path('mdurys_gupek_meeting_show', { 'id': meeting.id }) }}">{{ meeting.date|localizeddate('long', 'none') }}</a>
        {% endfor %}
        {{ dump(meetings) }}
    {% endif %}

{% endblock %}
