{% extends '::base.html.twig' %}

{% block body %}
    <h1>{{ "bout.header.score"|trans }}</h1>

    {{ form_start(form) }}
    	{% for player in form.meetingUsers %}
    		{{ form_row(player.place) }}
    	{% endfor %}
    {{ form_end(form) }}

{% endblock %}
